.App {
  width: 640px;
}

#videoPlayer {
  display: block;
}

.totalProgressBar {
  background-color: #ccc;
  height: 25px;
  position: absolute;
  width: 640px;
  z-index: 0;
}

.progressBar {
  background-color: #4e4e58;
  height: 25px;
  position: absolute;
  width: 640px;
  z-index: 10;
}

.upNext {
  margin: 0;
  text-align: right;
}

.videoTimeDisplay {
  margin: 30px 0 0;
  text-align: right;
}
